<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Bootstra
        </a>
    </nav>
    <h3>Products</h3>
    <% @products.each do |product| %>
    <div class="container-fluid ">
        <div class="row">
            <%# <div class="col p-3">Image : <%= f.image_url %>
            <div class="col p-3"><%= image_tag(product.image_url.url, style: 'height:50px;width:auto;')%></div>

            <div class="col p-3">Name :<%= product.name %></div>
            <div class="col p-3">Price : <%= product.price %></div>
            <div class="col p-3">Quantity : <%= product.quantity %></div>
            <div class="col p-3">Category_id : <%= product.category_id %>
                <div class="col p-3">Store_id : <%= product.store_id %>
                </div>
            </div>
            <% end %></br>
</body>

</html>